<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Flights information</h1>
    <div>
        <p>happy flights!</p>
        <p>쿼리1: 비행시간이 1.5이상 거리에서의 좌석 인기 순위</p>
        {% for i in data1 %}
            <p>좌석타입: {{i._id}}, 빈도: {{i.popular}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
        <p>쿼리2: 전체 기간에서 월별 운항 횟수</p>
        {% for i in data2 %}
            <p>날짜: {{i[0]}}, 횟수: {{i[1]}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
        <p>쿼리3: 항공사 별 총 비행거리</p>
        {% for i in data3 %}
            <p>항공사: {{i._id}}, 비행거리: {{i.dist}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
        <p>쿼리4: 비즈니스 도착지 9곳 Count</p>
        {% for i in data4.keys() %}
            <p>{{i}}:{{data4.get(i)}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
        <p>쿼리5: 가장 비행시간이 긴 승객 TOP5</p>
        {% for i in data5 %}
            <p>usercode: {{i._id}}, 총 시간: {{i.totalTime}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
        <p>쿼리6: agency별 flightType 이용 횟수</p>
        {% for i in data6 %}
            <p>agency: {{i[0]}}, 좌석: {{i[1]}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
    </div>
</body>
</html>