<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Flights information</h1>
    <div>
        <p>happy flights!</p>
        <p>쿼리3: 항공사 별 총 비행거리</p>
        {% for i in data3 %}
            <p>항공사: {{i._id}}, 비행거리: {{i.dist}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
        <p>쿼리4: 비즈니스 여행 도착지 9곳의 이용횟수</p>
        {% for i in data4.keys() %}
            <p>{{i}}:{{data4.get(i)}}</p>

        {% endfor %}
        <p>------------------------------------------------------</p>
        <p>쿼리5: 가장 비행시간이 긴 승객 TOP5</p>
        {% for i in data5 %}
            <p>usercode: {{i._id}}, 총 시간: {{i.totalTime}}</p>
        {% endfor %}
        <p>------------------------------------------------------</p>
    </div>
</body>
</html>